.container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  a {
    color: white;
    padding: 20px 60px;
    text-decoration: none;
    border: 1px solid white;
    margin: 0 5%;
    text-align: center;
    @media screen and (max-width: 768px) {
      margin: 5% 0%;
    }
  }
}
