.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  div {
    width: 300px;
    margin: 5%;
    a,
    button {
      margin: 0;
      color: white;
      padding: 20px 60px;
      text-decoration: none;
      border: 1px solid white;
      background: none;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
        transition: all 1s;
      }
      @media screen and (max-width: 768px) {
        margin: 5% 0%;
      }
    }
  }
}
